<h2>{{ table['name'] }}</h2>

<div id="table"></div>
<div>
  <button onclick="table.addRow()">Add empty {{table['name']}} item</button>
  <button onclick="table.addRow(randomItem())">Add random {{table['name']}} item</button>
</div>

<script src="/static/lib/underscore-min.js" integrity="sha512-HKvDCFVKg8ZPGjecy6on7UECEpE76Y86h3GaE4JMCz+deFWdjcW/tWnh0hCfaBvURvlOa9f5CNVzt7EFkulYbw==" crossorigin="anonymous"></script>
<link href="/static/lib/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="/static/lib/tabulator.min.js"></script>

<script>
var tableName = {{ table['name']|tojson|safe }};
var types = {{ types|tojson|safe }}
var tableData = {{ table['data'].values()|list|tojson|safe }};
var columns = {{ table['columns']|tojson|safe }};

function randomItem() {
  var item = {};

  columns.forEach(function(column) {
    var type = types[column.type] || {'type': null, subvalues: []};
    item[column.name] = _.sample(type.subvalues);
  });

  return item;
}

function valueFormatter(value) {
  if (_.isObject(value)) {
    var firstNonIDKey = _.first(_.keys(value).filter(function(key) { return key != 'id'; }));
    return valueFormatter(value[firstNonIDKey]);
  } else {
    return value;
  }
}

function columnEditor(column) {
  var type = types[column.type] || {'type': null, subvalues: []};
  
  if (type.value == '{hole: text}') {
    return {
      editor: 'input',
      params: {}
    };
  } else if (type.value == '{hole: image}') {
    return {
      editor: 'input',
      params: {}
    };
  } else if (type.value == '{hole: boolean}') {
    return {
      formatter: 'tickCross',
      editor: 'tickCross',
      params: {}
    };
  } else {
    return {
      formatter: function(cell, formatterParams, onRendered) {
        return valueFormatter(cell.getValue());
      },
      editor: 'select',
      params: {
        values: type.subvalues.map(function(value) {
          return {
            label: valueFormatter(value),
            value: value
          };
        }),
      }
    };
  }
}

// Format columns for the Tabulator table
var tableColumns = columns.map(function(column) {
  var editor = columnEditor(column);
  return {
    title: column.name,
    field: column.name,
    formatter: editor.formatter,
    editor: editor.editor,
    editorParams: editor.params,
  };
});

// Add a column with a delete row button
tableColumns.push({
  title: 'Delete Row',
  formatter:"buttonCross",
  align: 'center',
  cellClick:function(e, cell) {
    cell.getRow().delete();
  }
});

var table = new Tabulator('#table', {
  height: '600px',
  data: tableData,
  nestedFieldSeparator: ' ',
  columns: tableColumns,
  rowAdded: function(row) {
    fetch('/api/table/row', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        table: tableName,
        row: row.getData(),
      })
    }).then(function(response) {
      return response.json();
    }).then(function(data) {
      // Update with a generated row ID if it doesn't already have one
      if (!row.getData().id) {
        var id = data.row.id;
        row.update({'id': id});
      }
    });
  },
  rowDeleted: function(row) {
    fetch('/api/table/row', {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        table: tableName,
        row: row.getData(),
      })
    });
  },
  cellEdited: function(cell) {
    fetch('/api/table/cell', {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        table: tableName,
        row: cell.getRow().getData()['id'],
        column: cell.getField(),
        datum: cell.getValue(),
      })
    });
  },
});
</script>